* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    /* ### Primary */

    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /* ### Neutral */
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

main {
    background-color: var(--very-light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.container {
    font-family: 'Poppins', sans-serif;
    width: 80%;
    padding-top: 80px;
    margin: 0 auto;
}
.container h1 {
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}
.container h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: var(--very-dark-blue);
    padding-bottom: 10px;
}
.container > p  {
    width: 50%;
    color: var(--grayish-blue);
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    margin: 0 auto 15px;
}
.btm-boxes {
    position: relative;
    padding: 2rem 0px; 
}
.btm-boxes .card-box{
    background-color: #fff;
    width: 350px;
    padding: 15px 30px 15px; 
    margin: 0px auto 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 9px 2px hsl(234deg 12% 34% / 18%);
}
.btm-boxes .card-box h3 {
    font-size: 19px;
    color: var(--very-dark-blue);
    line-height: 55px;
}
.btm-boxes .card-box p {
    font-size: 15px;
    color: var(--grayish-blue);
    padding-bottom: 10px;
}
.btm-boxes .card-box .card-img {
    width: 60px;
    text-align: right;
    margin: 0 0 0 auto;
    padding: 20px 0px;
}
.btm-boxes .card-box .card-img img {
    width: 100%;
}
.btm-boxes .supervisor{
    border-top: 5px solid var(--cyan);
    position: absolute;
    top: 30%;
    left: -25px;
}
.btm-boxes .team-builder{
    border-top: 5px solid var(--red);
}
.btm-boxes .karma{
    border-top: 5px solid var(--orange);
}
.btm-boxes .calculator{
    border-top: 5px solid var(--blue);
    position: absolute;
    top: 30%;
    right: -25px;
}

@media only screen and (max-width: 1270px){
    .container {
        padding-top: 40px;
    }
    .btm-boxes .card-box {
        width: 330px;
    }
    .btm-boxes .card-box h3 {
        font-size: 19px;
    }
    .btm-boxes .card-box p {
        font-size: 14px;
    }
    .btm-boxes .supervisor {
        left: -50px;
    }
    .btm-boxes .calculator {
        right: -50px;
    }
}
@media only screen and (max-width: 1130px){
    .btm-boxes .supervisor {
        left: -89px;
    }
    .btm-boxes .calculator {
        right: -89px;
    }
}
@media only screen and (max-width: 1024px){
    .container h1 {
        font-size: 26px;
    }
    .container h2 {
        font-size: 26px;
    }
    .container > p {
        width: 67%;
    }
    .btm-boxes .card-box {
        width: 300px;
    }
    .btm-boxes .card-box .card-img {
        width: 50px;
        padding: unset;
    }
    .btm-boxes .supervisor {
        left: -75px;
    }
    .btm-boxes .calculator {
        right: -75px;
    }
}

@media only screen and (max-width: 950px){
    .container h1{
        font-size: 25px;
    }
    .container h2 {
        font-size: 25px;
    }
    .btm-boxes .card-box {
        width: 250px;
        padding: 10px 20px 10px;
    }
    .btm-boxes .card-box p {
        font-size: 12px;
    }
    .btm-boxes .card-box .card-img {
        width: 50px;
        padding: 14px 0px 10px;
    }
    .btm-boxes .supervisor {
        left: -25px;
    }
    .btm-boxes .calculator {
        right: -25px;
    }
}

@media only screen and (max-width: 890px){
    .btm-boxes .supervisor {
        left: -55px;
    }
    .btm-boxes .calculator {
        right: -55px;
    }
}
@media only screen and (max-width: 810px){
    .btm-boxes .card-box {
        width: 240px;
        padding: 10px 20px 10px;
    }
    .btm-boxes .supervisor {
        left: -60px;
        
    }
    .btm-boxes .calculator {
        right: -60px;
    }
}

@media only screen and (max-width: 768px){
    .btm-boxes .card-box {
        width: 100%;
        padding: 15px 30px 15px;
    }
    .btm-boxes .card-box h3 {
        font-size: 20px;
    }
    .btm-boxes .card-box p {
        font-size: 15px;
    }
    .btm-boxes .supervisor {
        position: unset;
    }
    .btm-boxes .calculator {
        position: unset;
    }
    .btm-boxes .card-box .card-img {
        width: 60px;
    }
}

@media only screen and (max-width: 500px){
    .container > p {
        width: 90%;
    }
}
@media only screen and (max-width: 425px){
    .container {
        width: 85%;
    }
}

@media only screen and (max-width: 375px){
    .container > p {
        width: 100%;
        font-size: 14px;
    }
    .container h1 {
        font-size: 22px;
    }
    .container h2 {
        font-size: 22px;
    }
    .attribution {
        padding: 0px 47px 20px 20px;
    }
}
.attribution {
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    text-align: center;
    padding-bottom: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}